<<<<<<< HEAD
/* content */

body {
	background-color: #1B1521;
}
#container {
	margin: 40px auto;
	overflow: hidden;
	width: 800px;
}
#header {
	background-color: #D41E45;
	padding: 20px 30px;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 10px;
}
h1 {
	margin: 0px;
}
.column {
	float: left;
	width: 360px;
	height: 300px;
	padding: 20px;
}
#column-list {
	background-color: #B5AC01;
	border-radius: 20px 0px 0px 20px;
}
#column-form {
	background-color: #ECBA09;
	border-radius: 0px 20px 20px 0px;
}
#column-form #todo-form-add {
	width: 300px;
	margin: 5px 0px;
	box-shadow: 2px 2px 3px #660;
}
=======
/* content */

@font-face {
	font-family: 'Icon';
	src: url('../_font/icomoon/fonts/icomoon.ttf') format('truetype');
}

#container {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 60%;
}

#todo-list {
	padding-left: 0px;
}

#todo-list li{
	border-style: solid;
	border-radius: 25px;
    border-color: #E8EFFF;
	background:#97D1FF;
	padding: 20px;
	list-style-type:none;
	width: 80%;
	font-size: 1.25em;
}

.todo-list-remove, .todo-list-first2 {
	float: right;
	color: #fff;
	background: #226fbe;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border: 2px dashed #226fbe;
	border-radius: 60px;
}

.todo-list-remove:active, .todo-list-first2:active {
	top: 2px;
}

.todo-list-remove:hover, .todo-list-first2:hover {
	background: transparent;
	color: #226fbe;
}

.item-column {
	float: left;
	width: 50%;
}

.entry-column {
	float: right;
	width: 50%;
}

.txt_box_add {
	font-family: Icon;
	font-size:18px;
	text-align:right;
    height: 25px;
    width: 50%;
    border: 1px solid #848484;

}

.submit-button {
	-moz-box-shadow: 0px 10px 14px -7px #337680;
	-webkit-box-shadow: 0px 10px 14px -7px #337680;
	box-shadow: 0px 10px 14px -7px #337680;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44869e), color-stop(1, #6fb3bd));
	background:-moz-linear-gradient(top, #44869e 5%, #6fb3bd 100%);
	background:-webkit-linear-gradient(top, #44869e 5%, #6fb3bd 100%);
	background:-o-linear-gradient(top, #44869e 5%, #6fb3bd 100%);
	background:-ms-linear-gradient(top, #44869e 5%, #6fb3bd 100%);
	background:linear-gradient(to bottom, #44869e 5%, #6fb3bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44869e', endColorstr='#6fb3bd',GradientType=0);
	background-color:#44869e;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#f2fbff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 15px 1px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7bd4f2;
}
.submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6fb3bd), color-stop(1, #44869e));
	background:-moz-linear-gradient(top, #6fb3bd 5%, #44869e 100%);
	background:-webkit-linear-gradient(top, #6fb3bd 5%, #44869e 100%);
	background:-o-linear-gradient(top, #6fb3bd 5%, #44869e 100%);
	background:-ms-linear-gradient(top, #6fb3bd 5%, #44869e 100%);
	background:linear-gradient(to bottom, #6fb3bd 5%, #44869e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb3bd', endColorstr='#44869e',GradientType=0);
	background-color:#6fb3bd;
}
.submit-button:active {
	position:relative;
	top:1px;
}


.textbox {
    height: 25px;
    width: 275px;
    border: 1px solid #848484;
}  

.icon {
	font-family:icon;
}
>>>>>>> 6c62e3b6aa3c45f202da56ea97b59e64abc6e254
